* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/images/background.jpg");
    background-size: cover;
}

#weather-app-total-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#weather-app-container {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
}

.weather-today-container, .weather-days-container {
    width: 100%;
    display: flex;
    padding: 20px;
}
.weather-today-container {
    flex: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 70px 0 70px;
}
.wtc-left, .wtc-right {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#clock-container {
    width: 100%;
    font-weight: 800;
    font-size: 55px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}
#clock-container span {
    font-weight: 500;
    font-size: 20px;
}

#date-container {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.wtc-right {
    align-items: end;
}

.wtc-right .currentLocation {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.currentLocation .city {
    text-align: right;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}
.currentLocation .country {
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

#chooseLocation {
    width: 40%;
    display: flex;
    margin-top: 20px;
}
#chooseLocation input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-weight: 300;
    font-size: 14px;
    color: #19376D;
    text-align: right;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    outline: none;
    transition: all ease .3s;
}
#chooseLocation input::placeholder { color: #fff;opacity: 1; }
#chooseLocation input:focus { color: #19376D;border-bottom: 1px solid #19376D; }

.weather-days-container {
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: rgba(25, 55, 109, .3);
}

.wdc-row {
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wdc-row:first-child { width: 28%;flex-direction: row; }
.today-icon {
    width: 40%;
    display: flex;
}
.today-icon > img {
    width: 100%;
    object-fit: contain;
}
.today-desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.today-desc .title {
    padding: 5px 10px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    background-color: #19376D;
}
.today-desc .degree {
    margin: 10px 0;
    font-weight: 200;
    font-size: 45px;
    color: #fff;
}

.wdc-row .wd-title {
    padding: 5px 10px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #19376D;
}
.wdc-row .wd-icon {
    width: 30%;
    display: flex;
    margin: 15px 0;
}
.wdc-row .wd-icon img {
    width: 100%;
    object-fit: contain;
}
.wdc-row .wd-degree {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}
